
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Document</title>
<body>
</h1>
<h1>ValiDate Report</h1>
<form action="/validatereport" method="post">
    <input name="reportNum" type="text" class="form-control" placeholder="reportNum" required autofocus />
    <input name="status" type="text" class="form-control" placeholder="reportNum" required />
    <input type="submit" value="검증" class="btn btn-primary btn-block" />
</form>
</body>
</html>
   

